BLL/Connected Services/AdvertisingReference/AdvertisingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64330/AdvertisingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFC" />
  <xs:element name="GetRandomAdvertising">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomAdvertisingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFC" minOccurs="0" name="GetRandomAdvertisingResult" nillable="true" type="q1:Advertising" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>